// $headerPointColor: #f4623a;
// $headerPointColor: #326812;

$black: #333333;
$headerPointColor: #FF6B6B;

$mediaColor: hsla(360, 20%, 5%, 0.7);
$yellowColor: #f9c51d;
$weakYellowColor: #fef3d2;

//skills
$skillsColor: #A7E8D8;
$skillsMiniColor: #F5F5F5;

//project
$projectColor:#FFFDE7;

//certifications
$certificationsColor:#2C3E50;