@import "../../styles/main.scss";

@mixin itemBasic {
    display: flex;
    // width:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.25rem;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: rgba(68, 68, 68, 0.4) 0px 0px 0.625rem;
    min-height: 25rem;
    height: auto;
    gap: 1.25rem;

    h4,
    h5,
    h6,
    ul,
    li {
        margin: 0;
    }

    .project_title {
        // align-self: center;
        color: white;
        background-color: #2f74c0;
        text-align: center;
        padding: 0.3125rem 0.9375rem;
        border-radius: 0.4375rem;
        @include thinFont;
        font-size: clamp(1.125rem, 3vw, 1.25rem);
    }

    .project_duration {
        @include thinFont;
        color: $mediaColor;
        display: block;
        width: 100%;
        padding-bottom: 0.625rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }

    .project_explain {
        @include thinFont;
        font-size: clamp(1.125rem, 3vw, 1.25rem);
        // list-style:none;
        // margin-left:0;
        // padding-left:0;
    }

    ul {
        padding: inherit;

        li {
            @include thinFont;
            font-weight: 300;
            list-style: none;
            line-height: 1rem;
            margin: 0.3125rem 0;
            position: relative;
            padding-left: 0.9375rem;
            line-height: 1.3;
        }

        li:before {
            content: "\25CF";
            font-size: 0.4375rem;
            line-height: 1.25rem;
            text-align: center;
            vertical-align: middle;
            margin-right: 0.5rem;
            position: absolute;
            left: 0;
            // line-height: 1.3;
        }
    }

    .project_skills {
        background-color: $weakYellowColor ;
        border: 1px solid $yellowColor;
        padding: 0.3125rem 0.625rem;
        border-radius: 0.625rem;
        @include thinFont;
        font-weight: 400;

        .skills_image_container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin: 0.3125rem;
            }
        }
    }

    .button_area {

        // display:flex;
        button {
            @include rmButtonEffect;
            @include thinFont;
            font-weight: 800;
            font-size: 0.9375rem;
            border: 1px solid rgba(128, 128, 128, 0.5);
            padding: 0.5rem 0.625rem;
            background-color: white;
            border-radius: 0.625rem;
            margin: 0 0.3125rem;
            color: $black;
        }

    }
}


.container {
    // border-bottom: 1px solid gray;
    box-sizing: border-box;
    background-color: $projectColor;
    width: 100%;
    // height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $black;
    

    @include boxPadding;

    h3 {
        @include subTitle;
    }

    img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin-right: 0.3125rem;
    }
    hr{
        width: clamp(20rem, 95vw, 84.375rem);
        // border:2px solid rgba(0, 0, 0, 0.5);
        margin:3rem 0px;
    }
    .button_container {
        box-sizing: border-box; // 패딩을 포함한 크기로 설정
        width: clamp(20rem, 95vw, 85rem);
        display: flex;
        justify-content: space-between;
        padding: 0 1.25rem;
        @include thinFont;
        //Project title ( Personal | team )
        span {
            font-size: clamp(1.5rem, 4vw, 1.875rem);
            font-weight: 900;
        }

        // align-items:center;
        button {
            @include rmButtonEffect;
            font-size: clamp(1.125rem, 3vw, 1.25rem);
            color: $black;
        }

        // align-self: flex-end;
        // margin-right:20px;
    }

    .project_container {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        padding: 1.25rem;
        place-items: center;

        .project_item {
            min-width: clamp(18rem, 90vw, 40.625rem);
            // width: 95%;
            @include itemBasic;
        }
    }
}

@media(max-width:1380px) {
    .button_container {
        width:100% !important;
    }
    hr{
        width:95% !important;
    }
    .project_container {
        width: 100%;
        box-sizing: border-box;
        // display:grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap:40px;
        // padding:20px;
        // place-items:center;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;

        .project_item {
            width: 100% !important;
            min-width: 100% !important;

            @include itemBasic;
        }
    }
}

@media(max-width:768px){
    .button_container{
        padding:0 !important;
        span{
            font-size: 1.25rem !important;
        }
    }
}


.matrix {
    color: white !important;
    background-color: #fc4f58 !important;
}

.graph {
    color: $mediaColor !important;
    background-color: #50c878 !important;
}

.musicplayer {
    color: white !important;
    background-color: #423684 !important;
}

.kiosk {
    color: white !important;
    background-color: #de1f2e !important;
}

.dorock {
    color: white !important;
    background-color: #b6d3a7 !important;
}